.DrinksPageMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DrinksPageBestsellerContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem 8rem;
    width: 100%;
}

.DrinksPageBestsellerContainerTittle {
    color: var(--darkColor);
    font-size: var(--text20);
    width: 100%;
    font-weight: var(--fontWeight700);
    margin: 0rem;
}

.DrinksPageBestsellerContainerText {
    color: var(--darkColor);
    font-size: var(--text18);
    width: 100%;
    margin: 0rem;
}

.DrinksPageContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.DrinksPageContentCart {
    display: flex;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--cardBgColor);
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
}

.DrinksPageContentCartImg {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.DrinksPageContentCartData {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
}

.BestsellerVegImg {
    width: 16px;
    height: 16px;
}

.BestsellerCardTittle {
    font-size: var(--text20);
    font-weight: var(--fontWeight600);
    margin: 0rem;
}

.BestsellerCardSize {
    font-size: var(--text14);
    color: var(--cardText);
    margin: 0rem;
}

.BestsellerCardDescription {
    font-size: var(--text14);
}

.BestsellerCardPriceAndButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.BestsellerCardPriceText {
    color: var(--darkColor);
    font-size: var(--text18);
    font-weight: var(--fontWeight700);
}
.BestsellerCardButton{
      background-color: var(--darkColor);
      color: var(--primaryColor);
      font-size: var(--text16);
      font-weight: var(--fontWeight600);
      padding: 0.5rem 1rem;
      border-radius: 50px;
      border: none;
}




.DrinksPageSubNavContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 6rem;
}
.DrinksPageSubNavContent{
  display: flex;
  justify-content: flex-start;
  
}



.DrinksPageSubNavContentData{
  padding: 0.5rem 6rem;
  width: 100%;
  border-bottom: 2px solid var(--cardText);

}
.DrinksPageSubNavContentTextButton{
  border: none;
  font-size: var(--text16);
  font-weight: var(--fontWeight600);
  padding: 0.5rem 1rem;
  background-color: var(--bgColor);
  border-bottom: 2px solid var(--bgColor);
}
.DrinksPageSubNavContentTextButton:hover{
  border-bottom: 2px solid var(--primaryColor);
}
.DrinksPageSubNavContentDataTwo{
  padding: 1rem 6rem;
  width: 100%;
  border-bottom: 2px solid var(--cardText);
  display: flex;
  align-items: center;
}
.ButtonContainerDataFilter{
  display: flex;
  padding: 0.5rem 2rem;
  justify-content: flex-start;
  overflow-x: scroll;
  width: 1300px;
}
.DrinksPageSubNavContentTextButtonData{
  border: none;
  font-size: var(--text14);
  padding: 0.5rem 1rem;
  background-color: var(--greyColor);
  border-radius: 10px;
  margin: 0rem 1rem;
  width: 170px;
}